/* Spinner.css */

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajuste conforme necessário */
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #0c61d1; /* Cor do spinner */
    border-radius: 50%;
    width: 40px; /* Tamanho do spinner */
    height: 40px; /* Tamanho do spinner */
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  